:root {
    --main: rgb(255, 127, 80);
    --business: rgb(0, 191, 255);
    --personal: var(--main); /* you can make personal&main nice green*/
    --light: #EEE;
    --dark: #313154; /* nice blue*/
    --caution: tomato; 
    /*--danger: #ff5b57*/
    --grey: #888;
    --done: rgb(37, 205, 138);

    --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    --business-glow: 0px 0px 4px rgba(0, 191, 255, 0.75);
    --personal-glow: 0px 0px 4px rgba(255, 127, 80, 0.75);
    

}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif ;
}

input:not([type="radio"]):not([type="checkbox"]), button {
    appearance: none;
    outline: none;
    border: none;
    background: none;
    cursor: initial;
}
body {
    background: var(--light);
    color: var(--dark);
    

}
section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;

}

h3 {
    display: inline-block;
    color: var(--dark);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

h4 {
    color: var(--grey);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.greeting .title {
    display: flex;

}
.greeting .title input {
    margin-left: 0.5rem;
    flex: 1 1 0%;
    min-width: 0;
}

.greeting .title,
.greeting .title input {
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 700;
}
.create-todo input[type="text"] {
    display: block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: var(--dark);
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
}
.create-todo .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.create-todo .options label {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding: 1.5rem;
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    cursor: pointer;

}
input[type="radio"],
input[type="checkbox"] {
    display: none;
}

.opt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--business);
    box-shadow: var(--business-glow);
}

.opt.personal {
    border-color: var(--personal);
    box-shadow: var(--personal-glow);
}

.opt::after {
    content: "";
    display: block;
    /*opacity: 1; this property takes affect with input:checked ~ .opt::after selector's propertties same there
    width: 0px;
    height: 0px;*/
    background-color: var(--business);
    box-shadow: var(--business-glow);
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}
.opt.personal::after {
    background-color: var(--personal);
    box-shadow: var(--personal-glow);
}

input:checked ~ .opt::after {
    width: 10px;
    height: 10px;
    opacity: 1;
}
.create-todo .options label div {
    color: var(--dark);
    font-size: 1.125rem;
    margin-top: 1rem;

}
.create-todo input[type="submit"] {
    display:block;
    width: 100%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: #FFF;
    background-color: var(--done);
    border-radius: 0.5rem;
    box-shadow: var(--personal-glow);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.create-todo input[type="submit"]:hover {
    opacity: 0.8;
    color: rgba(255, 255, 255, 0.8);
}

.todo-list select {
    position: absolute;
    font-size: 1.125rem;
    border-radius: 0.5rem;
    right: 5%;
    background-color: #FFF;
}
.todo-list select:hover {
    background-color: rgba(255, 255, 255, 0.75); 
}
.todo-list .list {
    margin: 1rem 0;
}

.todo-list .todo-item {
    display: flex;
    align-items: center;
    background-color: #FFF;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1rem;

}
.todo-item label {
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.todo-content {
    flex: 1 1 0%

}
.todo-content input {
    color: var(--dark);
    font-size: 1.125rem;

}
.todo-item .actions {
    display: flex;
    align-items: center;

}
.todo-item .actions button {
    display: block;
    padding: 0.5rem;
    border-radius: 1rem;
    color: #FFF;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    
}
.todo-item .actions button:hover {
    opacity: 0.8;
}
.todo-item .actions .edit {
    margin-right: 0.5rem;
    background-color: var(--grey);  
}
.todo-item .actions .delete {
   
    background-color: var(--caution);
}

.todo-item .actions button:hover {
    opacity: 0.8;
}
.todo-item.done .todo-content input {
    text-decoration:line-through;

}



@media only screen and (max-width:600px) {

    .greeting .title {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    
    }

    .greeting .title input {
        margin-left: 0.5rem;
        flex: 1 1 0%;
        min-width: 0;
    }
    .todo-item .actions {
        display: flex;
        align-items:center;
        flex-direction: column;
        flex-wrap: wrap;
        
    
    }
    
    .todo-item .actions button {
        margin: 0.05rem;
    }

    
}

